{% extends "restaurantes/layout.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="col-md-8 col-sm-offset-1">
	<div class="row">
          	<div class="panel panel-info">
            		<div class="panel-heading">
              			<h3 class="panel-title"><strong>Cambiar Contraseña</strong></h3>
            		</div>
			<div class="panel-body">
				<form class="form-horizontal" method="post" action=".">
				<fieldset>
					<div class="col-md-10 col-sm-offset-1">
  						{% csrf_token %} 
  						{{ form.as_p }}
					</div>
				</fieldset>
    					<div class="control-group">
      					<!-- Button -->
      						<div class="col-sm-offset-1 controls">
  							<input type="submit" value="{% trans 'Submit' %}" />
      						</div>
    					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
