{% extends "restaurantes/layout.html" %}

{% block content %}

    <!-- Page Content -->
           
           <br>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="../static/images/restaurantes.jpg" alt="">
                    <div class="caption-full">
                        <h4><b>Práctica 7 (8 incluida)</b></h4>
                        <p>El objetivo de esta práctica ha consistido en realizar la función de listar, agregar, modificar y eliminar restaurantes, esta vez en Django. Para ello he realizado una nueva aplicación desde 0, usando un boostrap, y modificado los views pertinentes.</p>
			<p>Además se ha creado función que comprueba que el código postal de dicho restaurante es el correspondiente, utilizando la herramienta de <a href="https://developers.google.com/maps/documentation/geocoding/intro?hl=es-419"></a>Google Maps Geocoding</p>
                        <p>El boostrap usado en esta ocasión ha sido: <a href="https://startbootstrap.com/template-overviews/shop-item/">Boostrap Shop Item</a></p>
                        <p>Tras la realización de la Práctica 7, dicha aplicación web se ha usado para desplegarse en un contenedor docker (optativo) y en un Paas, Heroku. Esto es lo que pedía la Práctica 8.</p>
                    </div>


        </div>

    </div>


{% endblock %}
